body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 40px;
    text-align: center;
}

.hero {
    background-color: #4CAF50;
    color: white;
    padding: 60px;
}

button {
    padding: 10px 20px;
    background-color: #222;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
/*Este es el 6to cambioooo, siuuuu*/
form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 10px;
    padding: 8px;
}
